pre {
  display:none;
  font-family:"consolas";
  font-size:smaller;
}

a {
  background-color:#333333;
  border-radius:4px;
  color:#eeeeee;
  cursor: hand;
  font-size:small;
  font-weight:normal;
  margin-right: 16px;
  padding:3px;
  text-decoration: none;
  width:10em;
}

h1 {
  padding-top: 3em;
}

body {
  font-family:"calibri";
  margin-top: 0;
  padding-top: 0;
}

p {
  border-radius:5px;
  display:block;
  font-family:"consolas";
  font-size:small;
  margin:2px;
  padding:4px;
}

.assert {
  background-color:#ffeecc;
  color:#e48625;
  font-weight:bold;
}

.button {
  border:none;
  border-radius: 5px;
  cursor: hand;
  display:inline;
  margin:2px;
  padding:4px;
  width:10em;
}

.error {
  background-color:#ff2a2a;
  color:#ffffff;
  font-weight:bold;
}

.header {
  background:#ffffff;
  position:fixed;
  width:100pc;
}

.message {
  background-color:#eeeeee;
  font-weight:bold;
}

.padding {
  height:20em;
}

.time {
  background-color:transparent;
  float: left;
  width:8em;
}

.frame {
  background-color:transparent;
  color:#9999aa;
  float: left;
  width:4em;
}

.warning {
  background-color:#e48625;
  color:#ffffff;
  font-weight:bold;
}